@use "./media" as *;
.banner {
  padding: 0;
  position: relative;
  z-index: 30;
  height: 400px;

  & > .container {
    padding: 0;
  }
  @include mq(sm) {
    height: 600px;
  }
  &__content {
    button {
      margin-top: 20px;
    }
    .banner__title {
      position: absolute;
      max-width: 600px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 100;
    }
    .swiper {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 auto;
      .swiper-pagination-bullet-active {
        background: var(--primary-color);
      }
      .slider {
        padding: 0 15px;

        .image {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          &::after {
            background-color: #0004;
            top: 0;
            left: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            content: "";
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  @include mq(sm) {
    margin: 0;
  }
  h1 {
    color: var(--body-bg-color);
    font-family: "Secular One", sans-serif;
    font-size: var(--fs-500);
    @include mq(sm) {
      font-size: var(--fs-700);
    }
  }
}
