.catagory {
  display: grid;
  grid-template-columns: 300px auto;
  &__filter {
    h3 {
      margin-bottom: 20px;
    }
    &-brand {
      padding-top: 20px;
      border-top: 1px solid #000;
    }
  }
}
