@use "./media" as *;

.singlePage {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  @include mq(sm) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  &__thumbnail {
    & > img {
      height: auto;
      width: 100%;
      @include mq(sm) {
        border-radius: 10px;
        height: 400px;
      }
    }
    .images {
      margin-top: 30px;
      display: flex;
      width: min(400px, 100%);
      overflow-x: hidden;
      position: relative;
      img {
        height: 90px;
        width: calc(400px / 3);
        cursor: pointer;
      }
      span {
        position: absolute;
        font-size: var(--fs-500);
        border-radius: 50%;
        color: var(--primary-color);
        cursor: pointer;
        background-color: var(--hover-color);
        display: inline-flex;
        line-height: 0;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translate(0, -50%);
        &:nth-of-type(1) {
          left: 0;
          padding: 14px 10px 16px 8px;
        }
        &:nth-of-type(2) {
          right: 0;
          padding: 14px 7px 16px 8px;
        }
      }
    }
  }
  &__content {
    font-size: 14px;
    h2 {
      font-size: var(--fs-400);
    }
    p {
      margin-bottom: 10px;
      max-width: 400px;
    }
    padding-left: 0;
    @include mq(sm) {
      padding-left: 50px;
      h2 {
        font-size: var(--fs-800);
      }
    }
    .title__content {
      padding-bottom: 20px;
      border-bottom: 2px solid var(--hover-color);
    }
    // discount and price styling
    .price {
      margin: 10px 0;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      .realPrice {
        color: var(--body-font-color);
        text-decoration: line-through;
      }
      .discount {
        font-weight: 700;
        stroke: aqua;
        font-size: 12px;
      }
    }
    // cart counter styling
    .cart__counter {
      display: flex;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        padding: 10px 32px;
        background-color: var(--hover-color);
        width: 200px;
        justify-content: space-between;
        font-size: var(--fs-300);
        color: var(--primary-color);
        border-radius: 30px;
        button {
          font-weight: 800;
          font-size: var(--fs-500);
        }
      }
      p {
        display: inline-block;
        max-width: 140px;
        margin-left: 12px;
        font-size: 12px;
        span {
          color: var(--orange-color);
        }
      }
    }
  }
}
