@use "./media" as *;
// Single items

.card {
  position: relative;
  border-radius: 10px;
  transition: all 700ms linear;
  &:hover {
    box-shadow: 0 2px 3px #0005;
  }

  &__heading:hover h4 {
    cursor: pointer;
    color: var(--green-color);
  }
  &:hover img {
    transition: all 500ms linear;
    transform: scale(1.2);
    cursor: pointer;
  }
  &__content {
    padding: 0 10px;
    h4 {
      font-size: var(--fs-200);
    }
  }
  .like-tag {
    position: absolute;
    cursor: pointer;
    top: 10px;
    padding: 7px 6px 0;
    border-radius: 50%;
    background-color: var(--hover-color);
    right: 20px;
    img {
      height: 30px;
      transition: all 700ms linear;
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
  &__image {
    height: 200px;
    width: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    transition: 400ms all ease-out;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/2;
      object-fit: cover;
    }
  }
  &__heading {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    .price {
      font-size: var(--fs-100);
      display: inline-block;
      font-size: var(--fs-200);
      text-decoration: line-through;
      &_discount {
        font-weight: 800;
        color: var(--green-color);
        margin-top: 5px;
      }
    }
  }
  &__excerpt {
    margin: 10px 0;
    color: var(--body-font-color);
    font-size: 15px;
  }

  &__btn {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 12px;
    button {
      width: 100%;
    }
    .btn-secondary {
      color: var(--green-color);
      border-color: var(--green-color);
      &:hover {
        color: var(--body-bg-color);
        border-color: var(--primary-color);
      }
    }
  }
}
.items {
  grid-template-columns: auto;
  overflow: hidden;
  gap: 50px 20px;
  &__Section {
    padding-top: 0;
  }
  @include mq(xs) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq(sm) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &__Section {
      padding: 0 0 50px;
    }
  }
  @include mq(lg) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

// rating star
.rating__count {
  margin-left: 12px;
}
.ratingStar {
  position: relative;
  z-index: 1;
  color: var(--green-color);
  &:not(:nth-of-type(1)) {
    margin-left: 10px;
  }
}
.recommended {
  h2 {
    margin-bottom: 30px;
  }
}
